alabaster @ file:///pub/devel/python/python-alabaster/python-alabaster-0.7.12-2.noarch/build/dist/alabaster-0.7.12-py2.py3-none-any.whl
appdirs @ file:///pub/devel/python/python-appdirs/python-appdirs-1.4.4-1.noarch/build/dist/appdirs-1.4.4-py2.py3-none-any.whl
asn1crypto @ file:///pub/devel/python/python-asn1crypto/python-asn1crypto-1.4.0-1.noarch/build/dist/asn1crypto-1.4.0-py3-none-any.whl
astroid @ file:///pub/devel/python/python-astroid/python-astroid-2.4.2-1.noarch/build/dist/astroid-2.4.2-py3-none-any.whl
attrs @ file:///pub/devel/python/python-attrs/python-attrs-20.3.0-1.noarch/build/dist/attrs-20.3.0-py2.py3-none-any.whl
Automat @ file:///pub/devel/python/python-automat/python-automat-20.2.0-1.noarch/build/dist/Automat-20.2.0-py2.py3-none-any.whl
Babel @ file:///pub/devel/python/python-babel/python-babel-2.9.0-1.noarch/build/dist/Babel-2.9.0-py2.py3-none-any.whl
backcall @ file:///pub/devel/python/python-backcall/python-backcall-0.2.0-1.x86_64/build/dist/backcall-0.2.0-py3-none-any.whl
bcrypt @ file:///usr/src/pkgs/python-bcrypt/python-bcrypt-3.2.0-1.x86_64/build/dist/bcrypt-3.2.0-cp38-cp38-cygwin_3_1_7_x86_64.whl
beautifulsoup4 @ file:///pub/devel/python/python-bs4/python-bs4-4.9.3-1.noarch/build/dist/beautifulsoup4-4.9.3-py3-none-any.whl
Brotli @ file:///home/cygwin-lem/brotli-cygport/brotli-1.0.9-2.x86_64/build/dist/Brotli-1.0.9-cp38-cp38-cygwin_3_2_0_x86_64.whl
bsddb3 @ file:///pub/devel/python/python-bsddb3/python-bsddb3-6.2.7-1.x86_64/build/dist/bsddb3-6.2.7-cp38-cp38-cygwin_3_1_6_x86_64.whl
certifi @ file:///pub/devel/python/python-certifi/python-certifi-2020.12.5-1.noarch/build/dist/certifi-2020.12.5-py2.py3-none-any.whl
cffi @ file:///pub/devel/python/python-cffi/prova1/python-cffi-1.14.4-1.x86_64/build/dist/cffi-1.14.4-cp38-cp38-cygwin_3_1_7_x86_64.whl
chardet @ file:///pub/devel/python/python-chardet/python-chardet-4.0.0-1.noarch/build/dist/chardet-4.0.0-py2.py3-none-any.whl
commonmark @ file:///pub/devel/python/python-commonmark/python-commonmark-0.9.1-1.noarch/build/dist/commonmark-0.9.1-py2.py3-none-any.whl
configobj @ file:///pub/devel/python/python-configobj/python-configobj-5.0.6-3.noarch/build/dist/configobj-5.0.6-py3-none-any.whl
constantly @ file:///pub/devel/python/python-constantly/python-constantly-15.1.0-3.noarch/build/dist/constantly-15.1.0-py2.py3-none-any.whl
cryptography @ file:///pub/devel/python/python-cryptography/python-cryptography-3.3.1-1.x86_64/build/dist/cryptography-3.3.1-cp38-cp38-cygwin_3_1_7_x86_64.whl
cycler @ file:///pub/devel/python/python-cycler/python-cycler-0.10.0-1.noarch/build/dist/cycler-0.10.0-py3-none-any.whl
Cython @ file:///pub/devel/python/python-cython/python-cython-0.29.21-3.x86_64/build/dist/Cython-0.29.21-cp38-cp38-cygwin_3_1_7_x86_64.whl
dbus-python @ file:///pub/devel/python/python-dbus/python-dbus-1.2.16-1.x86_64/build/dist/dbus_python-1.2.16-cp38-cp38-cygwin_3_1_7_x86_64.whl
decorator @ file:///pub/devel/python/python-decorator/python-decorator-4.4.2-1.noarch/build/dist/decorator-4.4.2-py2.py3-none-any.whl
distlib @ file:///pub/devel/python/python-distlib/python-distlib-0.3.1-1.noarch/build/dist/distlib-0.3.1-py3-none-any.whl
docutils @ file:///pub/devel/python/python-docutils/python-docutils-0.16-1.noarch/build/dist/docutils-0.16-py2.py3-none-any.whl
dropbox @ file:///pub/devel/python/python-dropbox/python-dropbox-11.2.0-1.noarch/build/dist/dropbox-11.2.0-py3-none-any.whl
filelock @ file:///pub/devel/python/python-filelock/python-filelock-3.0.12-1.noarch/build/dist/filelock-3.0.12-py3-none-any.whl
GDAL==3.3.0
git-review @ file:///pub/devel/git-review/git-review-2.1.0-1.noarch/build/dist/git_review-2.1.0-py3-none-any.whl
h5py @ file:///pub/devel/python/python-h5py/python-h5py-3.2.1-1.x86_64/build/dist/h5py-3.2.1-cp38-cp38-cygwin_3_2_0_x86_64.whl
html5lib @ file:///pub/devel/python/python-html5lib/python-html5lib-1.1-1.noarch/build/dist/html5lib-1.1-py2.py3-none-any.whl
httplib2 @ file:///pub/devel/python/python-httplib2/python-httplib2-0.18.1-1.noarch/build/dist/httplib2-0.18.1-py3-none-any.whl
hyperlink @ file:///pub/devel/python/python-hyperlink/python-hyperlink-21.0.0-1.noarch/build/dist/hyperlink-21.0.0-py2.py3-none-any.whl
hypothesis @ file:///pub/devel/python/python-hypothesis/python-hypothesis-5.43.9-1.noarch/build/dist/hypothesis-5.43.9-py3-none-any.whl
idna @ file:///pub/devel/python/python-idna/python-idna-3.1-1.noarch/build/dist/idna-3.1-py3-none-any.whl
imagesize @ file:///pub/devel/python/python-imagesize/python-imagesize-1.2.0-1.noarch/build/dist/imagesize-1.2.0-py2.py3-none-any.whl
importlib-metadata @ file:///pub/devel/python/python-importlib-metadata/python-importlib-metadata-3.3.0-1.noarch/build/dist/importlib_metadata-3.3.0-py3-none-any.whl
incremental @ file:///pub/devel/python/python-incremental/python-incremental-17.5.0-2.noarch/build/dist/incremental-17.5.0-py2.py3-none-any.whl
iniconfig @ file:///pub/devel/python/python-iniconfig/python-iniconfig-1.1.1-1.noarch/build/dist/iniconfig-0.0.0-py2.py3-none-any.whl
ipython @ file:///pub/devel/python/python-ipython/python-ipython-7.19.0-1.noarch/build/dist/ipython-7.19.0-py3-none-any.whl
ipython-genutils @ file:///pub/devel/python/python-ipython_genutils/python-ipython_genutils-0.2.0-2.noarch/build/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
isodate @ file:///pub/devel/python/python-isodate/python-isodate-0.6.0-2.noarch/build/dist/isodate-0.6.0-py2.py3-none-any.whl
isort @ file:///pub/devel/python/python-isort/python-isort-5.7.0-1.noarch/build/dist/isort-5.7.0-py3-none-any.whl
jedi @ file:///pub/devel/python/python-jedi/python-jedi-0.18.0-1.noarch/build/dist/jedi-0.18.0-py2.py3-none-any.whl
Jinja2 @ file:///pub/devel/python/python-jinja2/python-jinja2-2.11.2-1.noarch/build/dist/Jinja2-2.11.2-py2.py3-none-any.whl
jmespath @ file:///pub/devel/python/python-jmespath/python-jmespath-0.10.0-1.noarch/build/dist/jmespath-0.10.0-py2.py3-none-any.whl
jsonschema @ file:///pub/devel/python/python-jsonschema/python-jsonschema-3.2.0-1.noarch/build/dist/jsonschema-3.2.0-py2.py3-none-any.whl
jupyter-core @ file:///pub/devel/python/python-jupyter_core/python-jupyter_core-4.7.0-1.noarch/build/dist/jupyter_core-4.7.0-py3-none-any.whl
kiwisolver @ file:///pub/devel/python/python-kiwisolver/python-kiwisolver-1.3.1-1.x86_64/build/dist/kiwisolver-1.3.1-cp38-cp38-cygwin_3_1_7_x86_64.whl
lazy-object-proxy @ file:///pub/devel/python/python-lazy-object-proxy/python-lazy-object-proxy-1.5.2-1.x86_64/build/dist/lazy_object_proxy-1.5.2-cp38-cp38-cygwin_3_1_7_x86_64.whl
lockfile @ file:///pub/devel/python/python-lockfile/python-lockfile-0.12.2-3.noarch/build/dist/lockfile-0.12.2-py2.py3-none-any.whl
lxml @ file:///pub/devel/python/python-lxml/python-lxml-4.6.3-1.x86_64/build/dist/lxml-4.6.3-cp38-cp38-cygwin_3_2_0_x86_64.whl
Mako @ file:///pub/devel/python/python-mako/python-mako-1.1.3-1.noarch/build/dist/Mako-1.1.3-py2.py3-none-any.whl
Markdown @ file:///pub/devel/python/python-markdown/python-markdown-3.3.3-1.noarch/build/dist/Markdown-3.3.3-py3-none-any.whl
MarkupSafe @ file:///pub/devel/python/python-markupsafe/python-markupsafe-1.1.1-2.x86_64/build/dist/MarkupSafe-1.1.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
matplotlib @ file:///pub/devel/python/python-matplotlib/python-matplotlib-3.3.3-1.x86_64/build/dist/matplotlib-3.3.3-cp38-cp38-cygwin_3_1_7_x86_64.whl
mccabe @ file:///pub/devel/python/python-mccabe/python-mccabe-0.6.1-1.noarch/build/dist/mccabe-0.6.1-py2.py3-none-any.whl
mercurial==5.7
musicbrainzngs @ file:///pub/devel/python/python-musicbrainzngs/python-musicbrainzngs-0.7.1-1.noarch/build/dist/musicbrainzngs-0.7.1-py3-none-any.whl
mutagen @ file:///pub/devel/python/python-mutagen/python-mutagen-1.45.1-1.noarch/build/dist/mutagen-1.45.1-py3-none-any.whl
nbformat @ file:///pub/devel/python/python-nbformat/python-nbformat-5.0.8-1.noarch/build/dist/nbformat-5.0.8-py3-none-any.whl
nose @ file:///pub/devel/python/python-nose/python-nose-1.3.7-3.noarch/build/dist/nose-1.3.7-py3-none-any.whl
ntlm-auth @ file:///pub/devel/python/python-ntlm-auth/python-ntlm-auth-1.5.0-1.noarch/build/dist/ntlm_auth-1.5.0-py2.py3-none-any.whl
numpy @ file:///pub/devel/python/python-numpy/python-numpy-1.19.4-1.x86_64/build/dist/numpy-1.19.4-cp38-cp38-cygwin_3_1_7_x86_64.whl
odfpy @ file:///pub/devel/python/python-odf/python-odf-1.4.1-1.x86_64/build/dist/odfpy-1.4.1-py2.py3-none-any.whl
olefile @ file:///pub/devel/python/python-olefile/python-olefile-0.46-2.noarch/build/dist/olefile-0.46-py2.py3-none-any.whl
packaging @ file:///pub/devel/python/python-packaging/python-packaging-20.4-1.noarch/build/dist/packaging-20.4-py2.py3-none-any.whl
paramiko @ file:///usr/src/pkgs/python-paramiko/python-paramiko-2.7.2-0.noarch/build/dist/paramiko-2.7.2-py2.py3-none-any.whl
parso @ file:///pub/devel/python/python-parso/python-parso-0.8.1-1.noarch/build/dist/parso-0.8.1-py2.py3-none-any.whl
pexpect @ file:///pub/devel/python/python-pexpect/python-pexpect-4.8.0-1.noarch/build/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///pub/devel/python/python-pickleshare/python-pickleshare-0.7.5-2.noarch/build/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///home/Hamis/python-imaging/python-imaging-8.1.2-1.x86_64/build/dist/Pillow-8.1.2-cp38-cp38-cygwin_3_1_7_x86_64.whl
pkgconfig @ file:///pub/devel/python/python-pkgconfig/python-pkgconfig-1.5.1-1.noarch/build/dist/pkgconfig-1.5.1-py3-none-any.whl
pluggy @ file:///pub/devel/python/python-pluggy/python-pluggy-0.13.1-1.noarch/build/dist/pluggy-0.13.1-py2.py3-none-any.whl
ply @ file:///pub/devel/python/python-ply/python-ply-3.11-2.noarch/build/dist/ply-3.11-py2.py3-none-any.whl
prompt-toolkit @ file:///pub/devel/python/python-prompt_toolkit/python-prompt_toolkit-3.0.10-1.noarch/build/dist/prompt_toolkit-3.0.10-py3-none-any.whl
ptyprocess @ file:///pub/devel/python/python-ptyprocess/python-ptyprocess-0.6.0-2.noarch/build/dist/ptyprocess-0.6.0-py3-none-any.whl
py @ file:///pub/devel/python/python-py/python-py-1.10.0-1.noarch/build/dist/py-1.10.0-py2.py3-none-any.whl
py3c @ file:///pub/devel/python/python-py3c/python-py3c-1.3.1-1.x86_64/build/dist/py3c-1.3.1-py2.py3-none-any.whl
pyasn1 @ file:///pub/devel/python/python-pyasn1/python-pyasn1-0.4.8-1.noarch/build/dist/pyasn1-0.4.8-py2.py3-none-any.whl
pyasn1-modules @ file:///pub/devel/python/python-pyasn1-modules/python-pyasn1-modules-0.2.8-1.noarch/build/dist/pyasn1_modules-0.2.8-py2.py3-none-any.whl
pycairo @ file:///pub/devel/python/python-cairo/python-cairo-1.19.1-1.x86_64/build/dist/pycairo-1.19.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
pycparser @ file:///pub/devel/python/python-pycparser/python-pycparser-2.20-1.noarch/build/dist/pycparser-2.20-py2.py3-none-any.whl
pycrypto @ file:///pub/devel/python/python-crypto/python-crypto-2.6.1-3.x86_64/build/dist/pycrypto-2.6.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
pyenchant @ file:///pub/devel/python/python-enchant/python-enchant-3.2.0-1.noarch/build/dist/pyenchant-3.2.0-py3-none-any.whl
pygame @ file:///pub/devel/python/python-pygame/python-pygame-2.0.1-1.x86_64/build/dist/pygame-2.0.1-cp38-cp38-cygwin_3_1_7_x86_64.whl
Pygments @ file:///pub/devel/python/python-pygments/python-pygments-2.7.3-1.noarch/build/dist/Pygments-2.7.3-py3-none-any.whl
PyGObject @ file:///pub/devel/python/python-gi/python-gi-3.36.1-1.x86_64/build/dist/PyGObject-3.36.1-cp38-cp38-cygwin_3_1_6_x86_64.whl
pylint @ file:///pub/devel/python/python-pylint/python-pylint-2.6.0-1.noarch/build/dist/pylint-2.6.0-py3-none-any.whl
PyNaCl @ file:///usr/src/pkgs/python-nacl/python-nacl-1.4.0-1.x86_64/build/dist/PyNaCl-1.4.0-cp38-cp38-cygwin_3_1_7_x86_64.whl
PyOpenGL @ file:///pub/devel/python/python-opengl/python-opengl-3.1.5-1.noarch/build/dist/PyOpenGL-3.1.5-py3-none-any.whl
PyOpenGL-accelerate @ file:///pub/devel/python/python-opengl-accelerate/python-opengl-accelerate-3.1.5-1.x86_64/build/dist/PyOpenGL_accelerate-3.1.5-cp38-cp38-cygwin_3_1_7_x86_64.whl
pyOpenSSL @ file:///pub/devel/python/python-openssl/python-openssl-20.0.1-1.noarch/build/dist/pyOpenSSL-20.0.1-py2.py3-none-any.whl
pyparsing @ file:///pub/devel/python/python-pyparsing/python-pyparsing-2.4.7-1.noarch/build/dist/pyparsing-2.4.7-py2.py3-none-any.whl
PyPDF4 @ file:///pub/devel/python/python-pypdf/python-pypdf-1.27.0-1.noarch/build/dist/PyPDF4-1.27.0-py3-none-any.whl
pytest @ file:///pub/devel/python/python-pytest/python-pytest-6.2.1-1.noarch/build/dist/pytest-0.0.0-py3-none-any.whl
pytest-benchmark @ file:///pub/devel/python/python-pytest-benchmark/python-pytest-benchmark-3.2.3-1.noarch/build/dist/pytest_benchmark-3.2.3-py2.py3-none-any.whl
pytest-env @ file:///pub/devel/python/python-pytest-env/python-pytest-env-0.6.2-1.noarch/build/dist/pytest_env-0.6.2-py3-none-any.whl
pytest-sugar @ file:///pub/devel/python/python-pytest-sugar/python-pytest-sugar-0.9.4-1.noarch/build/dist/pytest_sugar-0.9.4-py2.py3-none-any.whl
python-bugzilla @ file:///pub/devel/python/python-bugzilla/python-bugzilla-3.0.2-1.noarch/build/dist/python_bugzilla-3.0.2-py3-none-any.whl
python-dateutil @ file:///pub/devel/python/python-dateutil/python-dateutil-2.8.1-1.noarch/build/dist/python_dateutil-2.8.1-py2.py3-none-any.whl
pytz @ file:///pub/devel/python/python-pytz/python-pytz-2020.5-1.noarch/build/dist/pytz-2020.5-py3-none-any.whl
PyYAML @ file:///pub/devel/python/python-yaml/python-yaml-5.4.1-1.x86_64/build/dist/PyYAML-5.4.1-cp38-cp38-cygwin_3_1_7_x86_64.whl
pyzmq @ file:///pub/devel/python/python-zmq/python-zmq-19.0.2-1.x86_64/build/dist/pyzmq-19.0.2-cp38-cp38-cygwin_3_1_6_x86_64.whl
recommonmark @ file:///pub/devel/python/python-recommonmark/python-recommonmark-0.7.1-1.noarch/build/dist/recommonmark-0.7.1-py2.py3-none-any.whl
reportlab @ file:///pub/devel/python/python-reportlab/python-reportlab-3.5.59-1.x86_64/build/dist/reportlab-3.5.59-cp38-cp38-cygwin_3_1_7_x86_64.whl
requests @ file:///pub/devel/python/python-requests/python-requests-2.25.1-1.noarch/build/dist/requests-2.25.1-py2.py3-none-any.whl
SCons==4.1.0
service-identity @ file:///pub/devel/python/python-service-identity/python-service_identity-18.1.0-2.noarch/build/dist/service_identity-18.1.0-py2.py3-none-any.whl
simplegeneric @ file:///pub/devel/python/python-simplegeneric/python-simplegeneric-0.8.1-5.noarch/build/dist/simplegeneric-0.8.1-py3-none-any.whl
simplejson @ file:///pub/devel/python/python-simplejson/python-simplejson-3.17.2-1.x86_64/build/dist/simplejson-3.17.2-cp38-cp38-cygwin_3_1_7_x86_64.whl
six @ file:///pub/devel/python/python-six/python-six-1.15.0-1.noarch/build/dist/six-1.15.0-py2.py3-none-any.whl
snowballstemmer @ file:///pub/devel/python/python-snowballstemmer/python-snowballstemmer-2.0.0-1.noarch/build/dist/snowballstemmer-2.0.0-py2.py3-none-any.whl
sortedcontainers @ file:///pub/devel/python/python-sortedcontainers/python-sortedcontainers-2.3.0-1.noarch/build/dist/sortedcontainers-2.3.0-py3-none-any.whl
soupsieve @ file:///pub/devel/python/python-soupsieve/python-soupsieve-2.0.1-1.noarch/build/dist/soupsieve-2.0.1-py3-none-any.whl
Sphinx @ file:///pub/devel/python/python-sphinx/python-sphinx-3.4.3-1.noarch/build/dist/Sphinx-3.4.3-py3-none-any.whl
sphinx-notfound-page @ file:///pub/devel/python/python-sphinx-notfound-page/python-sphinx-notfound-page-0.5-1.noarch/build/dist/sphinx_notfound_page-0.5-py3-none-any.whl
sphinx-rtd-theme @ file:///pub/devel/python/python-sphinx_rtd_theme/python-sphinx_rtd_theme-0.4.3-2.noarch/build/dist/sphinx_rtd_theme-0.4.3-py2.py3-none-any.whl
sphinxcontrib-applehelp @ file:///pub/devel/python/python-sphinxcontrib-applehelp/python-sphinxcontrib-applehelp-1.0.2-1.noarch/build/dist/sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-devhelp @ file:///pub/devel/python/python-sphinxcontrib-devhelp/python-sphinxcontrib-devhelp-1.0.2-1.noarch/build/dist/sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl
sphinxcontrib-htmlhelp @ file:///pub/devel/python/python-sphinxcontrib-htmlhelp/python-sphinxcontrib-htmlhelp-1.0.3-1.noarch/build/dist/sphinxcontrib_htmlhelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-jsmath @ file:///pub/devel/python/python-sphinxcontrib-jsmath/python-sphinxcontrib-jsmath-1.0.1-1.noarch/build/dist/sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl
sphinxcontrib-qthelp @ file:///pub/devel/python/python-sphinxcontrib-qthelp/python-sphinxcontrib-qthelp-1.0.3-1.noarch/build/dist/sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl
sphinxcontrib-serializinghtml @ file:///pub/devel/python/python-sphinxcontrib-serializinghtml/python-sphinxcontrib-serializinghtml-1.1.4-1.noarch/build/dist/sphinxcontrib_serializinghtml-1.1.4-py2.py3-none-any.whl
sphinxcontrib-websupport @ file:///pub/devel/python/python-sphinxcontrib-websupport/python-sphinxcontrib-websupport-1.2.4-1.noarch/build/dist/sphinxcontrib_websupport-1.2.4-py2.py3-none-any.whl
SQLAlchemy @ file:///pub/devel/python/python-sqlalchemy/python-sqlalchemy-1.3.22-1.x86_64/build/dist/SQLAlchemy-1.3.22-cp38-cp38-cygwin_3_1_7_x86_64.whl
stgit==0.19
stone @ file:///pub/devel/python/python-stone/python-stone-3.2.1-1.noarch/build/dist/stone-3.2.1-py3-none-any.whl
termcolor @ file:///pub/devel/python/python-termcolor/python-termcolor-1.1.0-1.noarch/build/dist/termcolor-1.1.0-py3-none-any.whl
testpath @ file:///pub/devel/python/python-testpath/python-testpath-0.4.4-1.noarch/build/dist/testpath-0.4.4-py3-none-any.whl
toml @ file:///pub/devel/python/python-toml/python-toml-0.10.2-1.noarch/build/dist/toml-0.10.2-py2.py3-none-any.whl
tox @ file:///pub/devel/python/python-tox/python-tox-3.20.1-1.noarch/build/dist/tox-0.0.0-py2.py3-none-any.whl
traitlets @ file:///pub/devel/python/python-traitlets/python-traitlets-5.0.5-1.noarch/build/dist/traitlets-5.0.5-py3-none-any.whl
Twisted @ file:///pub/devel/python/python-twisted/python-twisted-20.3.0-1.x86_64/build/dist/Twisted-20.3.0-cp38-cp38-cygwin_3_1_7_x86_64.whl
Unidecode @ file:///pub/devel/python/python-unidecode/python-unidecode-1.1.2-1.noarch/build/dist/Unidecode-1.1.2-py2.py3-none-any.whl
urllib3 @ file:///pub/devel/python/python-urllib3/python-urllib3-1.26.2-1.noarch/build/dist/urllib3-1.26.2-py2.py3-none-any.whl
virtualenv @ file:///pub/devel/python/python-virtualenv/python-virtualenv-20.2.2-1.noarch/build/dist/virtualenv-20.2.2-py2.py3-none-any.whl
wcwidth @ file:///pub/devel/python/python-wcwidth/python-wcwidth-0.2.5-1.noarch/build/dist/wcwidth-0.2.5-py2.py3-none-any.whl
webencodings @ file:///pub/devel/python/python-webencodings/python-webencodings-0.5.1-3.noarch/build/dist/webencodings-0.5.1-py2.py3-none-any.whl
Whoosh @ file:///pub/devel/python/python-whoosh/python-whoosh-2.7.4-3.noarch/build/dist/Whoosh-2.7.4-py2.py3-none-any.whl
wrapt @ file:///pub/devel/python/python-wrapt/python-wrapt-1.12.1-1.x86_64/build/dist/wrapt-1.12.1-cp38-cp38-cygwin_3_1_7_x86_64.whl
wxPython==4.0.7.post2
xmltodict @ file:///pub/devel/python/python-xmltodict/python-xmltodict-0.12.0-2.noarch/build/dist/xmltodict-0.12.0-py2.py3-none-any.whl
xtarfile @ file:///pub/devel/python/python-xtarfile/python-xtarfile-0.1.0-1.noarch/build/dist/xtarfile-0.1.0-py3-none-any.whl
zipp @ file:///pub/devel/python/python-zipp/python-zipp-3.4.0-1.noarch/build/dist/zipp-3.4.0-py3-none-any.whl
zope.interface @ file:///pub/devel/python/python-zope.interface/python-zope.interface-5.2.0-1.x86_64/build/dist/zope.interface-5.2.0-cp38-cp38-cygwin_3_1_7_x86_64.whl
zstandard @ file:///pub/devel/python/python-zstandard/python-zstandard-0.15.1-1.x86_64/build/dist/zstandard-0.15.1-cp38-cp38-cygwin_3_1_7_x86_64.whl
